<form class="{{cssClass}}" autocomplete="off">
    <div class="stickyHeader">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname flex-container">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>
            <div class="item-resource-container">
                <div class="item-resource-row">
                    <div class="item-resource">
                        <div class="stat-value-label">
                            <input type="text" name="system.quantity" value="{{item.system.quantity}}" data-dtype="Number"/>
                        </div>
                        <div class="flex-container">
                            <div class="small-text-label">Quantity</div>
                        </div>
                    </div>
                    <div class="item-resource">
                        <div class="stat-value-label">
                            {{#if item.system.encEffective}}
                                <input type="text" value="{{item.system.encEffective}}" readonly/>
                                <input type="text" name="system.enc" value="{{item.system.enc}}" data-dtype="Number" style="display:none"/>
                            {{else}}
                                <input type="text" name="system.enc" value="{{item.system.enc}}" data-dtype="Number"/>
                            {{/if}}
                        </div>
                        <div class="flex-container">
                            <div class="small-text-label">ENC</div>
                        </div>
                    </div>
                    <div class="item-resource">
                        <div class="stat-value-label">
                            {{#if item.system.priceEffective}}
                                <input type="text" value="{{item.system.priceEffective}}" readonly/>
                                <input type="text" name="system.price" value="{{item.system.price}}" data-dtype="Number" style="display:none"/>
                            {{else}}
                                <input type="text" name="system.price" value="{{item.system.price}}" data-dtype="Number"/>
                            {{/if}}
                        </div>
                        <div class="flex-container">
                            <div class="small-text-label">Price</div>
                        </div>
                    </div>
                    <div class="item-resource">
                        <div class="stat-value-label">
                            {{#if item.system.damageEffective}}
                                <input type="text" value="{{item.system.damageEffective}}" readonly/>
                                <input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="Number" style="display:none"/>
                            {{else}}
                                <input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="Number"/>
                            {{/if}}
                        </div>
                        <div class="flex-container">
                            <div class="small-text-label">Damage</div>
                        </div>
                    </div>
                    <div class="item-resource">
                        <div class="stat-value-label">
                            <input type="text" name="system.enchant_level" value="{{item.system.enchant_level}}" data-dtype="Number"/>
                            {{#if item.system.enchant_levelEffective}}
                                <div class="effective-hint"><span class="label">Eff</span>{{item.system.enchant_levelEffective}}</div>
                            {{/if}}
                        </div>
                        <div class="flex-container">
                            <div class="small-text-label">Enchant Lv.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
                        <a class="item" data-tab="effects">Effects</a>
</nav>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="basic-padding">
                {{editor item.system.enrichedDescription target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
            <div class="attribute-tab-container">
                <div class="attribute-container">
                    <div class="item-selection-container">
                        <h2>Attributes</h2>
                        <div class="selection-container">
                            <div class="grid-container">
                                <div>Price / 10</div>
                                <div class="right-align-content">
                                    <input type="text" name="system.pricePer10" value="{{item.system.pricePer10}}" data-dtype="Number"/>
                                    {{#if item.system.pricePer10Effective}}
                                        <div class="effective-hint"><span class="label">Eff</span>{{item.system.pricePer10Effective}}</div>
                                    {{/if}}
                                </div>

                                <div>Price / Shot</div>
                                <div class="right-align-content">
                                    <input type="text" value="{{item.system.pricePerShot}}" data-uesrpg="pricePerShot" readonly/>
                                    {{#if item.system.pricePerShotEffective}}
                                        <div class="effective-hint"><span class="label">Eff</span>{{item.system.pricePerShotEffective}}</div>
                                    {{/if}}
                                </div>
<div>Ammo Material</div>
                                <div class="right-align-content">
                                    <select name="system.ammoMaterial">
                                        {{selectOptions ammoMaterialOptions selected=item.system.ammoMaterial}}
                                    </select>
                                </div>

                                <div>Ignore ENC</div>
                                <div class="right-align-content">
                                    <input class="checkbox" type="checkbox" name="system.excludeENC" {{checked item.system.excludeENC}}>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="quality-container">
                    <div class="flex-container">
                        <h2>Structured Qualities</h2>
                    </div>

                    <div class="structured-qualities-grid">
                        {{#each coreQualitiesCatalog}}
                            <div class="structured-qualities-cell">
                                <div>{{this.label}}</div>
                                <div class="right-align-content">
                                    {{#if this.optionalValue}}
                                        <div class="structured-optional-value">
                                            <input class="checkbox" type="checkbox" name="qualitiesStructured.toggle.{{this.key}}" {{checked (lookup ../qualitiesSelectedToggle this.key)}} />
                                            <input class="structured-value structured-value--opt" type="number" name="qualitiesStructured.value.{{this.key}}" value="{{lookup ../qualitiesSelectedValue this.key}}" min="0" step="1" placeholder="X" />
                                        </div>
                                    {{else}}
                                        {{#if this.hasValue}}
                                            <input class="structured-value" type="number" name="qualitiesStructured.value.{{this.key}}" value="{{lookup ../qualitiesSelectedValue this.key}}" min="{{this.min}}" step="1" />
                                        {{else}}
                                            <input class="checkbox" type="checkbox" name="qualitiesStructured.toggle.{{this.key}}" {{checked (lookup ../qualitiesSelectedToggle this.key)}} />
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>


                    <!-- Ammunition does not use an extended trait list; specializations are represented via core qualities. -->
                </div>
            </div>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            <header class="effects-header flexrow">
                <h3>Effects</h3>
                <a class="effect-control" data-action="create" title="Create Effect"><i class="fas fa-plus"></i></a>
            </header>
            <ol class="effects-list">
                {{#each effects as |effect|}}
                <li class="effect flexrow" data-effect-id="{{effect._id}}">
                    <img class="effect-icon" src="{{effect.img}}" />
                    <h4 class="effect-name">{{effect.name}}</h4>
                    <div class="effect-controls flexrow">
                        <a class="effect-control" data-action="toggle" data-effect-id="{{effect._id}}" title="Toggle"><i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i></a>
                        <a class="effect-control" data-action="edit" data-effect-id="{{effect._id}}" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="effect-control" data-action="delete" data-effect-id="{{effect._id}}" title="Delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>
</form>
