<form class="{{cssClass}}" autocomplete="off">
    <div class="stickyHeader">
        <header class="sheet-header">
            <div class="header-fields">
                <h1 class="charname flex-container">
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>
                <div class="item-resource-container">
                    <div class="item-resource-row">
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="number" name="system.enc" value="{{item.system.enc}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">ENC</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <div class="flex-container">
                                    {{#if item.system.container_enc}}
                                        {{item.system.container_enc.current}}
                                    {{else}}
                                        0
                                    {{/if}}
                                    /
                                    {{#if item.system.container_enc}}
                                        <input type="number" name="system.container_enc.max" value="{{item.system.container_enc.max}}"/>
                                    {{else}}
                                        <input type="number" name="system.container_enc.max" value="0"/>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Capacity</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="number" name="system.price" value="{{item.system.price}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Price</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <!-- <a class="item" data-tab="description">Description</a> -->
            <a class="item" data-tab="attributes">Contents</a>
                            <a class="item" data-tab="effects">Effects</a>
</nav>
        </div>
    
        {{!-- Sheet Body --}}
        <section class="sheet-body">
    
            {{!-- Description Tab --}}
            <!-- <div class="tab" data-group="primary" data-tab="description">
                {{editor item.system.enrichedDescription target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
            </div> -->
    
            {{!-- Attributes Tab --}}
            <div class="tab" data-group="primary" data-tab="attributes">
                <div class="attribute-tab-container">
                    <div class="item-selection-container">
                        <h2>Contents</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th class="item-name-cell item-create addToContainer">+ Item</th>
                                    <th>Qty</th>
                                    <th>ENC</th>
                                    <th style="white-space: nowrap;"><i class="fas fa-box-open" title="Remove from Container"></i>&nbsp;<i class="fas fa-trash" title="Delete Item"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if item.system.contained_items}}
                                    {{#each item.system.contained_items as |item id|}}
                                        <tr class="item active" data-item-id="{{item._id}}" data-item-type="{{#if item.item}}{{item.item.type}}{{/if}}">
                                            <td>
                                                <div class="tableItemNameCell">
                                                    {{#if item.item}}
                                                        <img class="item-img" src="{{item.item.img}}" title="Send to Chat"/>
                                                        <div class="item-name">{{item.item.name}}</div>
                                                    {{/if}}
                                                </div>
                                            </td>
                                            <td>{{#if item.item.system}}{{item.item.system.quantity}}{{else}}0{{/if}}</td>
                                            <td>{{#if item.item.system}}{{item.item.system.enc}}{{else}}0{{/if}}</td>
                                            <td>
                                                <a class="item-control remove-contained-item" title="Remove from Container"><i class="fas fa-box-open"></i></a>
                                                <a class="item-control delete-contained-item" title="Delete Item"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {{/each}}
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            <header class="effects-header flexrow">
                <h3>Effects</h3>
                <a class="effect-control" data-action="create" title="Create Effect"><i class="fas fa-plus"></i></a>
            </header>
            <ol class="effects-list">
                {{#each effects as |effect|}}
                <li class="effect flexrow" data-effect-id="{{effect._id}}">
                    <img class="effect-icon" src="{{effect.img}}" />
                    <h4 class="effect-name">{{effect.name}}</h4>
                    <div class="effect-controls flexrow">
                        <a class="effect-control" data-action="toggle" data-effect-id="{{effect._id}}" title="Toggle"><i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i></a>
                        <a class="effect-control" data-action="edit" data-effect-id="{{effect._id}}" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="effect-control" data-action="delete" data-effect-id="{{effect._id}}" title="Delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>
