<form class="{{cssClass}}" autocomplete="off">
    <div class="stickyHeader">
        <header class="sheet-header">
            <div class="header-fields">
                <h1 class="charname flex-container">
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>
                <div class="item-resource-container">
                    <div class="item-resource-row">
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="checkbox" name="system.dailyUse" {{checked item.system.dailyUse}}>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Daily Used</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="text" name="system.source" value="{{item.system.source}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Source</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">Description</a>
            <a class="item" data-tab="attributes">Attributes</a>
                            <a class="item" data-tab="effects">Effects</a>
</nav>
        </div>

        {{!-- Sheet Body --}}
        <section class="sheet-body">

            {{!-- Description Tab --}}
            <div class="tab" data-group="primary" data-tab="description">
                {{editor item.system.enrichedDescription target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>

            {{!-- Attributes Tab --}}
            <div class="tab" data-group="primary" data-tab="attributes">
                <div class="attribute-tab-container">
                    <div class="item-selection-container">
                        <h2>Attributes</h2>
                        <div class="selection-container">
                            <div class="grid-container">
                                <div title="Shift in and out of Centurion Ball Form">Shift Centurion Form</div>
                                <div class="right-align-content">
                                    <input class="checkbox" type="checkbox" name="system.shiftForm" {{checked item.system.shiftForm}}>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div>Form Shift</div>
                                <div class="right-align-content">
                                    <select name="system.shiftFormStyle" data-type="String">
                                        {{selectOptions item.system.shiftStyles selected=item.system.shiftFormStyle localize=true}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="attribute-container">
                        <div class="item-characteristic-container">
                            <h2>Characteristics</h2>
                            <div class="modifier-container">
                                <div class="grid-container">
                                    <div>Strength</div>
                                    <div><input type="number" name="system.characteristicBonus.strChaBonus" value="{{item.system.characteristicBonus.strChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Endurance</div>
                                    <div><input type="number" name="system.characteristicBonus.endChaBonus" value="{{item.system.characteristicBonus.endChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Agility</div>
                                    <div><input type="number" name="system.characteristicBonus.agiChaBonus" value="{{item.system.characteristicBonus.agiChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Intelligence</div>
                                    <div><input type="number" name="system.characteristicBonus.intChaBonus" value="{{item.system.characteristicBonus.intChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Willpower</div>
                                    <div><input type="number" name="system.characteristicBonus.wpChaBonus" value="{{item.system.characteristicBonus.wpChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Perception</div>
                                    <div><input type="number" name="system.characteristicBonus.prcChaBonus" value="{{item.system.characteristicBonus.prcChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Personality</div>
                                    <div><input type="number" name="system.characteristicBonus.prsChaBonus" value="{{item.system.characteristicBonus.prsChaBonus}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Luck</div>
                                    <div><input type="number" name="system.characteristicBonus.lckChaBonus" value="{{item.system.characteristicBonus.lckChaBonus}}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-resistance-container">
                            <h2>Resistances</h2>
                            <div class="modifier-container">
                                <div class="grid-container">
                                    <div>Disease</div>
                                    <div><input type="number" name="system.diseaseR" value="{{item.system.diseaseR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Fire</div>
                                    <div><input type="number" name="system.fireR" value="{{item.system.fireR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Frost</div>
                                    <div><input type="number" name="system.frostR" value="{{item.system.frostR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Shock</div>
                                    <div><input type="number" name="system.shockR" value="{{item.system.shockR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Poison</div>
                                    <div><input type="number" name="system.poisonR" value="{{item.system.poisonR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Magic</div>
                                    <div><input type="number" name="system.magicR" value="{{item.system.magicR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Toughness</div>
                                    <div><input type="number" name="system.natToughnessR" value="{{item.system.natToughnessR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Silver</div>
                                    <div><input type="number" name="system.silverR" value="{{item.system.silverR}}"></div>
                                </div>
                                <div class="grid-container">
                                    <div>Sunlight</div>
                                    <div><input type="number" name="system.sunlightR" value="{{item.system.sunlightR}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        


        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            <header class="effects-header flexrow">
                <h3>Effects</h3>
                <a class="effect-control" data-action="create" title="Create Effect"><i class="fas fa-plus"></i></a>
            </header>
            <ol class="effects-list">
                {{#each effects as |effect|}}
                <li class="effect flexrow" data-effect-id="{{effect._id}}">
                    <img class="effect-icon" src="{{effect.img}}" />
                    <h4 class="effect-name">{{effect.name}}</h4>
                    <div class="effect-controls flexrow">
                        <a class="effect-control" data-action="toggle" data-effect-id="{{effect._id}}" title="Toggle"><i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i></a>
                        <a class="effect-control" data-action="edit" data-effect-id="{{effect._id}}" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="effect-control" data-action="delete" data-effect-id="{{effect._id}}" title="Delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
</section>
</form>
