<form class="{{cssClass}}" autocomplete="off">
    <div class="stickyHeader">
        <header class="sheet-header">
            <div class="header-fields">
                <h1 class="charname flex-container">
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>
                <div class="item-resource-container">
                    <div class="item-resource-row">
                        <div class="item-resource">
                            <div class="stat-value-label">
                                <input type="number" name="system.quantity" value="{{item.system.quantity}}"/>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Quantity</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                {{#if item.system.encEffective}}
                                    {{#unless item.system.gmOverride.useBaseStats}}
                                        <input type="text" value="{{item.system.encEffective}}" readonly/>
                                        <input type="number" name="system.enc" value="{{item.system.enc}}" style="display:none"/>
                                    {{else}}
                                        <input type="number" name="system.enc" value="{{item.system.enc}}"/>
                                    {{/unless}}
                                {{else}}
                                    <input type="number" name="system.enc" value="{{item.system.enc}}"/>
                                {{/if}}
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">ENC</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                {{#if item.system.priceEffective}}
                                    {{#unless item.system.gmOverride.useBaseStats}}
                                        <input type="text" value="{{item.system.priceEffective}}" readonly/>
                                        <input type="number" name="system.price" value="{{item.system.price}}" style="display:none"/>
                                    {{else}}
                                        <input type="number" name="system.price" value="{{item.system.price}}"/>
                                    {{/unless}}
                                {{else}}
                                    <input type="number" name="system.price" value="{{item.system.price}}"/>
                                {{/if}}
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Price</div>
                            </div>
                        </div>
                        {{#if (eq item.system.attackMode "ranged")}}
                            <div class="item-resource">
                                <div class="stat-value-label">
                                    <input type="text" name="system.range" value="{{item.system.range}}" placeholder="X/Y/Z"/>
                                    {{#if item.system.rangeBandsDerivedEffective.display}}
                                        <div class="effective-hint"><span class="label">Eff</span>{{item.system.rangeBandsDerivedEffective.display}}</div>
                                    {{/if}}
                                </div>
                                <div class="flex-container">
                                    <div class="small-text-label">Range</div>
                                </div>
                            </div>
                        {{/if}}
                    </div>

                    <div class="item-resource-row">
                        <div class="item-resource set-size-container">
                            <div class="stat-value-label">
                                <input class="checkbox" type="checkbox" name="system.equipped" {{checked item.system.equipped}}>
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Equipped</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                {{#if item.system.damageEffective}}
                                    {{#unless item.system.gmOverride.useBaseStats}}
                                        <input type="text" value="{{item.system.damageEffective}}" readonly/>
                                        <input type="text" name="system.damage" value="{{item.system.damage}}" style="display:none"/>
                                    {{else}}
                                        <input type="text" name="system.damage" value="{{item.system.damage}}"/>
                                    {{/unless}}
                                {{else}}
                                    <input type="text" name="system.damage" value="{{item.system.damage}}"/>
                                {{/if}}
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">Damage</div>
                            </div>
                        </div>
                        <div class="item-resource">
                            <div class="stat-value-label">
                                {{#if item.system.damage2Effective}}
                                    {{#unless item.system.gmOverride.useBaseStats}}
                                        <input type="text" value="{{item.system.damage2Effective}}" readonly/>
                                        <input type="text" name="system.damage2" value="{{item.system.damage2}}" style="display:none"/>
                                    {{else}}
                                        <input type="text" name="system.damage2" value="{{item.system.damage2}}"/>
                                    {{/unless}}
                                {{else}}
                                    <input type="text" name="system.damage2" value="{{item.system.damage2}}"/>
                                {{/if}}
                            </div>
                            <div class="flex-container">
                                <div class="small-text-label">2H Damage</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">Description</a>
            <a class="item" data-tab="attributes">Attributes</a>
            <a class="item" data-tab="effects">Effects</a>
        </nav>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="item-description-container">
                <div class="basic-padding">
                    {{editor item.system.enrichedDescription target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
            <div class="attribute-tab-container">
                <div class="item-selection-container">
                    <h2>Attributes</h2>
                    <div class="selection-container">
                        <div class="weapon-attributes-container">
                            <div class="weapon-attributes-section">
                                <h3>Quality &amp; Material</h3>
                                
                                <div class="weapon-field-row">
                                    <label>Quality</label>
                                    <select name="system.qualityLevel">
                                        {{selectOptions weaponQualityOptions selected=item.system.qualityLevel}}
                                    </select>
                                </div>

                                <div class="weapon-field-row">
                                    <label>Material</label>
                                    <select name="system.material">
                                        {{selectOptions weaponMaterialOptions selected=item.system.material}}
                                    </select>
                                </div>
                                <div class="weapon-field-row">
                                    <label>Manual Base Stats</label>
                                    <input class="checkbox" type="checkbox" name="system.gmOverride.useBaseStats" {{checked item.system.gmOverride.useBaseStats}}>
                                </div>

                                <div class="weapon-field-row">
                                    <label>Ignore ENC</label>
                                    <input class="checkbox" type="checkbox" name="system.excludeENC" {{checked item.system.excludeENC}}>
                                </div>
                            </div>

                            <div class="weapon-attributes-section">
                                <h3>Basic Properties</h3>

                                <div class="weapon-field-row">
                                    <label>Handedness</label>
                                    <select name="system.hands">
                                        {{selectOptions weaponHandednessOptions selected=item.system.hands}}
                                    </select>
                                </div>
                                
                                {{#unless (eq item.system.attackMode "ranged")}}
                                <div class="weapon-field-row weapon-field-row--reach">
                                    <label>Reach</label>
                                    <div class="weapon-reach-inline">
                                        <span class="weapon-reach-label">Min Reach</span>
                                        <input class="weapon-reach-input" type="number" name="system.reachMin" value="{{item.system.reachMin}}" min="0" step="1"/>
                                        <span class="weapon-reach-label">Max Reach</span>
                                        <input class="weapon-reach-input" type="number" name="system.reach" value="{{item.system.reach}}" min="0" step="1"/>
                                    </div>
                                </div>
                                {{/unless}}

                                <div class="weapon-field-row">
                                    <label>Roll 2H Damage</label>
                                    <input class="checkbox" type="checkbox" name="system.weapon2H" {{checked item.system.weapon2H}}>
                                </div>
                            </div>
                            
                            <div class="weapon-attributes-section">
                                <h3>Equipment Type</h3>
                                
                                <div class="weapon-field-row">
                                    <label>Equipment Tag</label>
                                    <input type="text" name="system.equipmentType" value="{{item.system.equipmentType}}" placeholder="e.g., Long Blade"/>
                                </div>
                                
                                <div class="weapon-field-row">
                                    <label>Attack Mode</label>
                                    <select name="system.attackMode">
                                        {{selectOptions attackModeOptions selected=item.system.attackMode}}
                                    </select>
                                </div>
                            </div>

                            {{#if (eq item.system.attackMode "ranged")}}
                            <div class="weapon-attributes-section">
                                <h3>Ranged Properties</h3>
                                
                                <div class="weapon-field-row">
                                    <label>Ammunition</label>
                                    <select name="system.ammoId">
                                        <option value="">—</option>
                                        {{#each ammoOptions}}
                                            <option value="{{this.value}}" {{#if (eq ../item.system.ammoId this.value)}}selected{{/if}}>{{this.label}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="weapon-field-row">
                                    <label>Consume Ammo</label>
                                    <input type="checkbox" name="system.consumeAmmo" {{checked item.system.consumeAmmo}}>
                                </div>

                                 <div class="weapon-field-row">
                                     <label>Reload Cost (AP)</label>
                                     {{#if canEditReloadAPCost}}
                                     <input type="number" name="system.reloadState.reloadAPCost" value="{{item.system.reloadState.reloadAPCost}}" min="0" step="1"/>
                                     {{else}}
                                     <input type="number" value="{{item.system.reloadState.reloadAPCost}}" min="0" step="1" disabled style="background: #f0f0f0;"/>
                                     {{/if}}
                                 </div>
                                
                                <div class="weapon-field-row">
                                    <label>Loaded</label>
                                    <input type="checkbox" name="system.reloadState.isLoaded" {{checked item.system.reloadState.isLoaded}}/>
                                </div>
                            </div>
                            {{/if}}

                            <div class="weapon-attributes-section">
                                <h3>Enchanting</h3>
                                
                                <div class="weapon-field-row">
                                    <label>Enchant Level</label>
                                    <div style="position: relative; width: 120px;">
                                        <input type="number" name="system.enchant_level" value="{{item.system.enchant_level}}" style="width: 100%;"/>
                                        {{#if item.system.enchant_levelEffective}}
                                            <div class="effective-hint"><span class="label">Eff</span>{{item.system.enchant_levelEffective}}</div>
                                        {{/if}}
                                    </div>
                                </div>

                                <div class="weapon-field-row">
                                    <label>Charge</label>
                                    <div class="flex-container" style="justify-content: flex-start; gap: 6px; align-items: center; width: 120px;">
                                        <i class="fas fa-angle-down fa-xs chargeMinus"></i>
                                        <input type="number" name="system.charge.value" value="{{item.system.charge.value}}" style="width: 45px;"/>
                                        <span>/</span>
                                        <input type="number" name="system.charge.max" value="{{item.system.charge.max}}" style="width: 45px;"/>
                                        <i class="fas fa-angle-up fa-xs chargePlus"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="weapon-attributes-section">
                                <h3>Damage Instances</h3>
                                <p style="font-size: 0.75em; color: #666; margin: 0 0 6px 0;">Additional damage types (e.g. elemental enchantments)</p>
                                {{#each item.system.damageInstances as |inst idx|}}
                                <div class="weapon-field-row" style="display: grid; grid-template-columns: 1fr 1fr 1fr auto; gap: 4px; align-items: center;" data-instance-index="{{idx}}">
                                    <input type="text" name="system.damageInstances.{{idx}}.label" value="{{inst.label}}" placeholder="Label" />
                                    <input type="text" name="system.damageInstances.{{idx}}.formula" value="{{inst.formula}}" placeholder="e.g. 1d4" />
                                    <select name="system.damageInstances.{{idx}}.type">
                                        {{selectOptions @root.damageTypeOptions selected=inst.type}}
                                    </select>
                                    <button type="button" data-action="remove-damage-instance" data-index="{{idx}}" title="Remove" style="border: none; background: none; cursor: pointer; color: #c00;" {{#unless @root.editable}}disabled{{/unless}}>
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                                {{/each}}
                                {{#if @root.editable}}
                                <button type="button" data-action="add-damage-instance" style="margin-top: 4px; font-size: 0.85em;">
                                    <i class="fas fa-plus"></i> Add Instance
                                </button>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="quality-container">
                    <div class="flex-container">
                        <h2>Qualities</h2>
                    </div>

                    <!-- Core qualities (kept as a compact grid for automation-critical toggles/values) -->
                    <div class="structured-qualities-grid">
                        {{#each coreQualitiesCatalog}}
                            <div class="structured-qualities-cell">
                                <div>{{this.label}}</div>
                                <div class="right-align-content">
                                    {{#if this.optionalValue}}
                                        <div class="structured-optional-value">
                                            <input class="checkbox" type="checkbox" name="qualitiesStructured.toggle.{{this.key}}" {{checked (lookup ../qualitiesSelectedToggle this.key)}} />
                                            <input class="structured-value structured-value--opt" type="number" name="qualitiesStructured.value.{{this.key}}" value="{{lookup ../qualitiesSelectedValue this.key}}" min="0" step="1" placeholder="X" />
                                        </div>
                                    {{else}}
                                        {{#if this.hasValue}}
                                            <input class="structured-value" type="number" name="qualitiesStructured.value.{{this.key}}" value="{{lookup ../qualitiesSelectedValue this.key}}" min="0" step="1" />
                                        {{else}}
                                            <input class="checkbox" type="checkbox" name="qualitiesStructured.toggle.{{this.key}}" {{checked (lookup ../qualitiesSelectedToggle this.key)}} />
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>

                    <!-- Other traits (reference / future automation) -->
                    <div class="structured-traits-block">
                        <div class="structured-traits-label">Other Traits</div>
                        <div class="structured-traits-pills">
                            {{#each traitsCatalog}}
                                <label class="uesrpg-pill {{#if this.selected}}is-selected{{/if}}">
                                    <input type="checkbox" name="qualitiesTraits.toggle.{{this.key}}" {{checked this.selected}} />
                                    <span>{{this.label}}</span>
                                </label>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/uesrpg-3ev4/templates/partials/sheets/effects-tab.hbs"}}
        </div>

    </section>
</form>
